a {
  color: var(--color-blanco);
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background 0.2s;
  position: relative;
}
a:hover, .active {
  background: var(--color-amarillo);
  color: var(--color-burdeos);
}